@page {
    size: letter;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 98vh;
    text-align: center;
    margin-top: 20;
    margin-bottom: 10;
    margin-left: 10;
    margin-right: 10;
}

.content {
    flex: 1;
    padding-left: 60px;
    padding-right: 60px;
    color: black;
    text-align: left;
    font-size: 16px;
    white-space: pre-line;
    max-width: 2320px;
    overflow-wrap: break-word;
    max-height: calc(35 * 1lh);
    overflow: hidden;
}

header {
    display: flex;
    width: 100%;
    height: 150px;
}

.center {
    flex-basis: 40%;
    text-align: center;
    padding-left: 15px;
    width: 250;
    color: #8f9e7f;
}

.center h1 {
    font-family: 'Great Vibes', cursive;
    font-size: 25px;
}

.center p {
    font-size: 11px;
}

.middle {

    text-align: left;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.right {
    overflow: hidden;
    height: 100%;
    flex-basis: 40%;
    display: flex;
    justify-content: center;
    height: 100%;
}

.right h4 {
    margin: 0;
    padding: 2px 0;
    font-weight: normal;
    font-size: 12px;
}

.left {

    flex-basis: 20%;
    display: flex;
    justify-content: left;
}

#logo {

    height: 150px;
    width: 150px;
}

#transparente {
    height: 150px;
    width: 195px;
    height: 150px;
}

footer {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    font-size: 12;
}

.black {
    color: black;
    display: inline;
    font-size: 17px;
    vertical-align: middle;
}

#MOCTEZUMA {
    height: 150;
    width: 253;
}

.bottomright{
    bottom: 0;
}

.bottomleft{
    color: #696868;
    vertical-align: baseline;
}