<html lang="es">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="styles.css" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i&amp;subset=cyrillic" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Great+Vibes&amp;display=swap" rel="stylesheet" />
    <title>Prescription</title>
</head>
<body>
<header>
    <img src="logo.png" alt="Logo" id="logo" />
    <div id="dr">
        <h1>Dr. Eduardo Barragán Curiel</h1>
        <p>GINECOLOGO ONCOLOGO <br />Universidad de Guadalajara <br /> Nuevo Hospital Civil de Guadalajara <br /> Instituto Nacional de Cancerología</p>
    </div>

    <div id="nf">
        <h4>Nombre: <span class="black">{{patient}}</span></h4>
        <h4>Fecha: <span class="black">{{date}}</span></h4>
    </div>
</header>

<main class="content">{{description}}</main>

<footer>
    <p id="MOCTEZUMA">MOCTEZUMA No.187 CD DEL SOL <br /> ZAPOPAN JALISCO <br /> TEL. 33 3647-3034, 33 3122-1167</p>
    <p id="ced">CED. FED. ESP. 33393169 <br /> CED. PROF. 1646831  <br /> D.G.P. 7484(12-1)</p>
</footer>
</body>
</html>